<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mistiloop Crochet</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>
    <div class="logo">🧶 Mistiloop Crochet</div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/flowers">Flowers</a></li>
        <li><a href="/keychains">Keychains</a></li>
        <li><a href="/sweaters">Sweaters</a></li>
        <li><a href="/wallhangings">Wall Hangings</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</nav>

<section class="hero">
    <img src="/images/logo.jpeg"
         alt="Mistiloop Crochet"
         class="hero-logo">

    <h1>Mistiloop Crochet</h1>

    <h2>Handmade with Love ❤️</h2>

    <p>Every Loop Tells A Story</p>

    <button>Shop Now</button>

</section>

<section class="updates">
    <h2>✨ Latest Crochet Updates</h2>

    <div class="update-box">
        New Crochet Flower Collection Launching Soon 🌸
    </div>

</section>

<section class="categories">
    <h2>Our Collections</h2>
    <div class="products">

        <div class="card"
             th:each="product : ${products}"
             th:onclick="'window.location.href=\'/product/' + ${product.id} + '\''">

            <img th:src="${product.imageUrl}"
                 alt="Product">

            <div class="card-content">

                <h3 th:text="${product.name}"></h3>

                <div class="price">
                    ₹<span th:text="${product.price}"></span>
                </div>

                <form th:action="@{/cart/add/{id}(id=${product.id})}"
                      method="post">

                    <button class="btn cart">
                        Add To Cart
                    </button>

                </form>

                <button class="btn buy">
                    Buy Now
                </button>

            </div>

        </div>

    </div>
</section>

<footer>
    © 2026 Mistiloop Crochet | Handmade with Love ❤️
</footer>
<script src="/js/script.js"></script>
</body>
</html>
