<!DOCTYPE html>
<html>
<head>
    <title>Crochet Flowers</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>

    <div class="logo">
        🧶 Mistiloop Crochet
    </div>

    <ul>
        <li><a href="/">Home</a></li>
    </ul>

</nav>

<section class="categories">

    <h2>🌸 Crochet Flowers Collection</h2>

    <div class="products">

        <div class="card">

            <img src="/images/flowers.jpeg">

            <div class="card-content">

                <h3>Rose Bouquet</h3>

                <div class="price">₹299</div>

                <button class="btn cart">Add To Cart</button>

                <button class="btn buy">Buy Now</button>

            </div>

        </div>

        <div class="card">

            <img src="/images/flowers.jpeg">

            <div class="card-content">

                <h3>Sunflower</h3>

                <div class="price">₹349</div>

                <button class="btn cart">Add To Cart</button>

                <button class="btn buy">Buy Now</button>

            </div>

        </div>

    </div>

</section>

</body>
</html>